<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TinyOsWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TinyOsWpf.Properties.Settings>
            <setting name="PhysicalMemory" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="ProcessMemory" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="DumpPhysicalMemory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpInstruction" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpRegisters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpProgram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DumpContextSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SharedMemoryRegionSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="NumOfSharedMemoryRegions" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MemoryPageSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="StackSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DataSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="VirtualMemory" serializeAs="String">
                <value>1024</value>
            </setting>
        </TinyOsWpf.Properties.Settings>
    </userSettings>
</configuration>